#about {
    background-color:white;
    height:auto;
    margin-top:60px;
  margin-bottom:100px;
}

.imgAbout {
    margin:0 auto;
    margin-top:50px;
    height:495px;
    width: 770px;
    //background-image: url(../images/mockup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.description {
    font-size: 2em;
    padding: 50px;
}
@media (min-width:500px) and (orientation:landscape) {
  .wrapper {
    width:700px;
    margin:0 auto;
  }
  .imgAbout {
    height: auto;
    width: 400px;
    display:inline-block;
    margin-left: 30px;
  }
  .description {
    font-size:18px;
    min-width:200px;
    max-width:250px;
    height:auto;
    display:inline-block;
    padding: 10px;
  }
  
}
