.main-header {
  min-height: 100vh;
  width: auto;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  a {
  font-size: 20px;
    text-align:center;
    font-family: 'Arial', sans-serif;
  }
}

.header-text h1,
p {
  font-family: "existencelight";
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  font-weight: 400;
  padding: 20px;
}

.header-text h1 {
  font-size: 4.8em;
  padding: 4vh;
}

.header-text p:last-child {
  margin: 0 auto;
  max-width: 900px;
  font-size: 2.3em;
}

.header-text {
  margin-bottom: 50px;
}

.main {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  //font-size: 2em;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.group div {
  display: inline-block;
  height: 275px;
  width: 275px;
  background-image: url("../images/bha.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.group div:hover {
  background-image: url("../images/portbg.png");
}

.group p {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size:30px;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.scroll {
  height:45px;
  width:42px; 
  background-image: url(../images/arr2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
  margin-bottom:10px;
  visibility:hidden;
}

@mixin icon ($iconPosition) {
  display: block;
  content: "";
  margin: 0 auto;
  height: 70px;
  width: 70px;
  background-image: url(../images/icons-menu2.png);
  background-position: $iconPosition;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .box1 {
  &::before {
    @include icon (0 0);
  }
}

.main .box2 {
  &::before {
    @include icon (0 -70px);
  }
}

.main .box3 {
  &::before {
    @include icon (0 -140px);
  }
}

.main .box4 {
  &::before {
    @include icon (0 -210px);
  }
}

.main .box5 {
  &::before {
    @include icon (0 -280px);
  }
}

.main .box6 {
  &::before {
    @include icon (0 -350px);
  }
}

.main .box {
  padding: 67px;
}

.main .box {
  &::before {
    position: relative;
    left: 0;
  }
}

@media (min-width:500px) and (orientation:landscape) {
  .main .box {
  &::before {
    left: -20px;
  }
}
  .main .box1 {
    &::before {
        @include icon (0 0);
    }
}
.main .box2 {
    &::before {
        @include icon (0 -40px);
    }
}
.main .box3 {
    &::before {
        @include icon (0 -80px);
    }
}
.main .box4 {
    &::before {
        @include icon (0 -117px);
    }
}
.main .box5 {
    &::before {
        @include icon (0 -155px);
    }
}
.main .box6 {
    &::before {
        @include icon (0 -195px);
    }
} 
  .box1 p, .box2 p {
    position: relative;
    left: -41px;
    top: -37px;
  }
  .box3 p, .box4 p,.box6 p {
    position: relative;
    left: -49px;
    top: -37px;
  }
  .box5 p {
    position: relative;
    left: -35px;
    top: -37px;
  }
  .box::before {
    position: relative;
    left: -30px;
    top: -25px;
  }
  .group .box p {
    font-size: 17px;
  }
  .header-text p:last-child {
    font-size: 20px;
  }
  .header-text h1 {
    font-size: 5em;
  }
  .main .group:nth-child(2) {
    position: relative;
    left: -280px;
  }
  .main .group:nth-child(3) {
    position: relative;
    left: 280px;
    top: -140px;
  }
  .main .box {
    height: 50px;
    width: 50px;
  }
  .main .box::before {
    width: 40px;
    height: 40px;
  }
  
  .scroll {
    visibility:visible;
  }
}

  
    